<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3_on_table">

  <!-- args -->
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="robot_ip" default=""/>
  <xacro:arg name="special_connection" default=""/>

  <!-- Link base -->
  <link name="world"/>

  <!-- Tavolo -->
  <link name="table">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 1.0 0.75"/>
      </geometry>
      <material name="light_grey">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 1.0 0.75"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_joint" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0 0 0.375" rpy="0 0 0"/>
  </joint>

  <!-- Importa il robot Franka -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <xacro:franka_robot
      arm_id="fr3"
      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
      gazebo="false"
      hand="true"
      ee_id="franka_hand"
      special_connection="$(arg special_connection)"
      xyz_ee="0 0 0"
      rpy_ee="0 0 ${-pi/4}"
      tcp_xyz="0 0 0.1034"
      tcp_rpy="0 0 0"
      safety_distance="0.03"
      with_sc="false"
      ros2_control="false"
      robot_ip="$(arg robot_ip)"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="false"
      gazebo_effort="false"
      no_prefix="false"
      arm_prefix=""
      description_pkg="franka_description"
      connected_to="">
  </xacro:franka_robot>

  <!-- ros2_control macro -->
  <xacro:include filename="$(find franka_holden_control)/urdf/franka_arm.ros2_control.xacro"/>
  <xacro:franka_arm_ros2_control
      arm_id="fr3"
      robot_ip="$(arg robot_ip)"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="false"
      gazebo="false"
      hand="true"
      gazebo_effort="false"
      arm_prefix=""
  />

  <!-- Posa il robot sopra il tavolo -->
  <joint name="franka_on_table" type="fixed">
    <parent link="table"/>
    <child link="fr3_link0"/>
    <origin xyz="-0.5 0 0.375" rpy="0 0 0"/>
  </joint>

</robot>
