<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_on_linear_guide">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur_on_linear_guide urdf file -->
    <xacro:include filename="$(find ur_linear_guide)/urdf/linear_ur.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur_on_linear_guide.ros2_control.xacro" />


    <xacro:ur_on_linear_guide_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
