<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_on_linear_guide">

    <!-- args -->
    <xacro:arg name="fake_guide" default="true"/>
    <xacro:arg name="fake_ur" default="true"/>
    
    <!-- properties -->

    <!-- linear guide -->
    <xacro:property name="length" value="1.56"/>
    <xacro:property name="min_lim" value="0.0"/>
    <xacro:property name="max_lim" value="1.0"/>
    <xacro:property name="vel_lim" value="0.5"/>

    <!-- ur -->
    <xacro:property name="ur_type" value="ur5"/>
    <xacro:property name="name" value="ur"/>
    <xacro:property name="tf_prefix" value=""/>
    <xacro:property name="joint_limit_params" value="$(find ur_linear_guide)/config/ur5/joint_limits.yaml"/>
    <xacro:property name="kinematics_params" value="$(find ur_linear_guide)/config/ur5/default_kinematics.yaml"/>
    <xacro:property name="physical_params" value="$(find ur_linear_guide)/config/ur5/physical_parameters.yaml"/>
    <xacro:property name="visual_params" value="$(find ur_linear_guide)/config/ur5/visual_parameters.yaml"/>
    <xacro:property name="initial_positions_file" value="$(find ur_linear_guide)/config/ur5/initial_positions.yaml"/>
    <xacro:property name="generate_ros2_control" value="true"/>
    <xacro:property name="transmission_hw_interface" value=""/>
    <xacro:property name="safety_limits" value="false"/>
    <xacro:property name="safety_pos_margin" value="0.15"/>
    <xacro:property name="safety_k_position" value="20"/>
    <xacro:property name="headless_mode" value="false"/>
    <xacro:property name="robot_ip" value="0.0.0.0"/>
    <xacro:property name="script_filename" value=""/>
    <xacro:property name="output_recipe_filename" value=""/>
    <xacro:property name="input_recipe_filename" value=""/>
    <xacro:property name="reverse_ip" value="0.0.0.0"/>
    <xacro:property name="script_command_port" value="50004"/>
    <xacro:property name="reverse_port" value="50001"/>
    <xacro:property name="script_sender_port" value="50002"/>
    <xacro:property name="trajectory_port" value="50003"/>
    <xacro:property name="use_tool_communication" value="false"/>
    <xacro:property name="tool_voltage" value="0"/>
    <xacro:property name="tool_parity" value="0"/>
    <xacro:property name="tool_baud_rate" value="115200"/>
    <xacro:property name="tool_stop_bits" value="1"/>
    <xacro:property name="tool_rx_idle_chars" value="1.5"/>
    <xacro:property name="tool_tx_idle_chars" value="3.5"/>
    <xacro:property name="tool_device_name" value="/tmp/ttyUR"/>
    <xacro:property name="tool_tcp_port" value="54321"/>
    <xacro:property name="fake_sensor_commands" value="false"/>
    <xacro:property name="sim_gazebo" value="false"/>
    <xacro:property name="sim_ignition" value="false"/>
    <xacro:property name="simulation_controllers" value=""/>
    <xacro:property name="non_blocking_read" value="true"/>
    <xacro:property name="robot_receive_timeout" value="0.04"/>
    <xacro:property name="keep_alive_count" value="2"/>

   <link name="world" />

   <!-- ur robot on linear guide -->
   <xacro:include filename="$(find ur_linear_guide)/urdf/linear_ur.xacro"/>
   <xacro:ur_on_linear_guide
      fake_guide="$(arg fake_guide)"
      fake_ur="$(arg fake_ur)"
      
      parent_link="world"
      length="${length}"
      min_lim="${min_lim}"
      max_lim="${max_lim}"
      vel_lim="${vel_lim}"
      ur_type="${ur_type}"
      name="${name}"
      tf_prefix="${tf_prefix}"
      joint_limits_parameters_file="${joint_limit_params}"
      kinematics_parameters_file="${kinematics_params}"
      physical_parameters_file="${physical_params}"
      visual_parameters_file="${visual_params}"
      safety_limits="${safety_limits}"
      safety_pos_margin="${safety_pos_margin}"
      safety_k_position="${safety_k_position}"
      generate_ros2_control_tag="${generate_ros2_control}"
      transmission_hw_interface="${transmission_hw_interface}"
      fake_sensor_commands="${fake_sensor_commands}"
      sim_gazebo="${sim_gazebo}"
      sim_ignition="${sim_ignition}"
      headless_mode="${headless_mode}"
      initial_positions="${initial_positions_file}"
      use_tool_communication="${use_tool_communication}"
      tool_voltage="${tool_voltage}"
      tool_parity="${tool_parity}"
      tool_baud_rate="${tool_baud_rate}"
      tool_stop_bits="${tool_stop_bits}"
      tool_rx_idle_chars="${tool_rx_idle_chars}"
      tool_tx_idle_chars="${tool_tx_idle_chars}"
      tool_device_name="${tool_device_name}"
      tool_tcp_port="${tool_tcp_port}"
      robot_ip="${robot_ip}"
      script_filename="${script_filename}"
      output_recipe_filename="${output_recipe_filename}"
      input_recipe_filename="${input_recipe_filename}"
      reverse_port="${reverse_port}"
      script_sender_port="${script_sender_port}"
      reverse_ip="${reverse_ip}"
      script_command_port="${script_command_port}"
      trajectory_port="${trajectory_port}"
      non_blocking_read="${non_blocking_read}"
      keep_alive_count="${keep_alive_count}"
    />
  
</robot>
